
spring:
  profiles:
    active: local
  application:
    name: reinput-workspace-service

server:
  port: 8084

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    instance-id: ${spring.cloud.client.hostname}:${spring.application.instance_id:${random.value}}
    prefer-ip-address: true

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    config-url: /folder/v3/api-docs/swagger-config
    url: /folder/v3/api-docs
    disable-swagger-default-url: true
  api-docs:
    path: /v3/api-docs